<html>
	<head>
		<meta charset="utf-8">
		<title> CSS! </title>
		

	</head>
	<body>
		<h1 class="mansalva"> Propiedades de fuente: </h1>
		<div class="column">
				<p class="mansalva centrado"> Un parráfo con fuente Mansalva</p>
		</div>
		<div class="column">		
			<p class="otras justificado"> Un <em>parráfo</em> <span> con formato </span> <strong>arial o verdana o sans-serif</strong>. </p>
		</div>
		<div class="column">		
			<p class="dancing"> Un parráfo con Dancing Script. </p>	
		</div>
			
		<br>
		<input type="button" value="llamar" onclick=mialerta()>


		<script src="./static/mialerta.js"> </script>
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Mansalva&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="./static/hojaestilo1.css">
	</body>
</html>